services:
  db:
    image: postgres:13.4
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - 5432:5432
    restart: always
  grafana:
    image: grafana/grafana:8.1.2
    ports:
      - 5000:3000
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - tempo
  loki:
    image: grafana/loki:2.3.0
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
  tempo:
    image: grafana/tempo:1.1.0
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - 8000:8000 # tempo
      - 55681:55681 # otlp http
  cms:
    build: ./cms
    environment:
      DATABASE_URL: "postgres://postgres:postgres@db/cms"
      SECRET_KEY_BASE: "1CsoH8ZrNxJl+uKVbCED8FX1Z/P01iJ8zfrmNFNnGdfPcEAFqt111sgnMTeZnwZo"
      TIME_TRACKING_URL: "http://time_tracker:3000"
      OTEL_COLLECTOR_HOST: "tempo"
      OTEL_COLLECTOR_PORT: "55681"
    ports:
      - 4000:4000
    depends_on:
      - db
      - time_tracker
    logging:
      driver: loki
      options:
        loki-url: http://localhost:3100/loki/api/v1/push
  time_tracker:
    build: ./time_tracker
    environment:
      OTEL_COLLECTOR_HOST: "tempo"
      OTEL_COLLECTOR_PORT: "55681"
    ports:
      - 3000:3000
